*{
    margin: 0;
    padding: 0;
}

:root{
    --gradient: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(252,70,107,1) 37%, rgba(241,112,16,1) 100%); 
}

#cusEmail{
    font-weight: bold;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #36384d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    height: 410px;
    width: 430px;
    background-color: white;
    border-radius: 2rem;
}

button{
    margin: 2rem 0 0 1rem;
    width: 80%;
    padding: 1rem;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: #36384d;
    border-radius: 0.3rem;
    border: none;
    outline:none;
}

.content{
    height: 100%;
    padding: 2rem 0 0 2rem;
}

img{
    height: 3rem;
    padding: 0 0 0 1rem;
}

h1{
    font-size: 2.8rem;
    width: min-content;
    padding: 1.3rem 0 0 1rem;
}

p{
    padding: 1rem 0 0 1rem;
    font-size: 0.9rem;
    width: 22rem;
}

button:hover {
    background: rgb(252,70,107);
    background: --gradient;
}

@media (min-width: 319px) and (max-width: 480px){
    body{
        background-color: white;
    }

    button{
        margin-top: 5rem;
    }
}
